@font-face {
  font-family: "Title_Font";
  src: url("../../../public/Font/Lora-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Text_Font";
  src: url("../../../public/Font/Lora-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

